@import "../../assets/variables.scss";

header {
  width: 100%;
  padding: 20px;
  display: flex;
  position: fixed;
  z-index: 1;
}

.title {
  width: 100%;

  & > h1 {
    font-family: $font;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.5px;
    max-width: 130px;
  }

  &__line {
    background-color: $main-color;
    height: 3px;
    position: relative;
    bottom: 9px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    max-width: 130px;

    &.menu--open {
      background-color: white;
      opacity: 0.5;
    }
  }
}

.burger {
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: all 1s;

  &__layer {
    width: 100%;
    border: 1.5px solid black;
    background-color: black;
    border-radius: 3px;
    transition: transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);

    &--top {
      transform: translateY(5px) rotate(45deg);
    }

    &--bottom {
      transform: translateY(-4px) rotate(-45deg);
    }
  }
}

.menu-container {
  background-color: $main-color;
  color: #fff;
  position: fixed;
  top: 0;
  left: -100vw;
  right: 100vw;
  bottom: 0;
  flex-direction: column;
  transition: left 0.5s, right 0.5s;
  display: flex;
  align-items: center;

  &.menu-container--open {
    right: 0;
    left: 0;
  }
}

.menu {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px - 100px - 71px);
  overflow: scroll;
  width: 100%;
  position: relative;

  &__line {
    width: 250px;
    position: absolute;
    height: 6px;
    background-color: white;
    opacity: 0.5;
    border-radius: 5px;
  }

  &__element {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    font-family: $font;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: black;
    }

    &--about {
      font-weight: lighter;
      margin-bottom: 71px;
      padding: 30px 0;
    }
  }
}

.gradient {
  position: fixed;
  background: orange;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(223, 197, 118, 0) 0%, #dfc576 100%);
  bottom: 0;
}

//switch

.switch-container {
  width: 100%;
  height: 71px;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  display: flex;
  align-items: center;
  width: 150px;
  height: 31px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0.1em rgba(0, 0, 0, 0.1);
  padding: 0 5px;

  & p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    z-index: 1;
    letter-spacing: 0.5px;
    font-weight: 300;
    transition: all ease 600ms;
    width: 100px;
    text-align: center;

    &.selected {
      font-weight: 400;
    }
  }
}

.action {
  position: absolute;
  content: "";
  width: 75px;
  height: 25px;
  background-color: $main-color;
  border-radius: 25px;
  left: 3px;
  transition: all ease 300ms;
}

.switch input {
  display: none;

  &:checked ~ .slider .action {
    transform: translate3d(69px, 0, 0);
  }
}
