@import "../../assets/variables.scss";

.gallery-container {
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
}

.gallery-title {
  font-family: $font;
  font-style: italic;
  color: #efdfb7;
  font-size: 35px;
  padding: 30px;
  text-align: center;

  &--footer {
    padding-bottom: 50px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.picture {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;

  & img {
    max-width: 100%;
    object-fit: contain;
    object-position: center;
  }

  &__line {
    height: 20px;
    width: 50%;
    background-color: #efdfb7;
    position: absolute;
    z-index: -1;
  }
}
